# TUPLE

Tuple is another data structure similar as LISTS in PYTHON.
It varies in following two things:


*   It is a sequence of ***immutable*** objects i.e.you cannot change the values in a tuple.
*   Tuples use parentheses to define its elements.

# Creating Tuple
Creating a tuple is similar as creating a list.
For creating a tuple, values are comma-separated within a parantheses.

Syntax of creating tuple:
```
tup1 = (val1, val2, val3, ...)
```

In [ ]:
# creating empty tuple 
tup1 = ()

print(tup1)

# tuple with single element
tup2 = (5)
print(tup2)

# tuple of integer elements
tup3 = (1,2,3,4,5)
print('Integer tuple ',tup3)
# tuple of float elements
tup4 = (1.2,2.3,3.4,4.5,5.6)
print('float tuple',tup4)
# tuple of characters
print('character tuple - ',end=' ')
tup5 = ('a','b','c','d','e')
print(tup5)
# tuple of strings
print('String tuple - ',end=' ')
tup6 = ('Hello','How','are','you')
print(tup6)
# tuple of mixed elements 
print('Mixed tuple - ',end=' ')
tup7 = (1,2.5, "Hello")
print(tup7)

()
5
Integer tuple  (1, 2, 3, 4, 5)
float tuple (1.2, 2.3, 3.4, 4.5, 5.6)
character tuple -  ('a', 'b', 'c', 'd', 'e')
String tuple -  ('Hello', 'How', 'are', 'you')
Mixed tuple -  (1, 2.5, 'Hello')

If a tuple has to be created with a single element, then a comma(,) must be added after the element. If the comma is not there, then element is treated as a normal element, instead of tuple.

In [ ]:
tup = (5)
tup1 = (5,)
print(tup, 'Type of tup is: ',type(tup))
print(tup1, 'Type of tup is: ',type(tup1))

5 Type of tup is:  <class 'int'>
(5,) Type of tup is:  <class 'tuple'>

#Utility of Tuples
Tuples represent records or structures.
It stores the all related information about a object/entity together. This information can be of different data types.

Similarly Some of the Python built-in return the values in the form of tuples.

# Accessing Values in the Tuples



*   Indices of tuples starts at 0
*   Operations like slice, concatenate etc can also be performed on tuples.
*

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9,10)
print(tup1)
#SLICING
print('tup1[3:7] -> ',tup1[3:7])
print('tup1[:7] -> ',tup1[:7])
print('tup1[3:] -> ',tup1[3:])
print('tup1[:] -> ',tup1[:])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup1[3:7] ->  (4, 5, 6, 7)
tup1[:7] ->  (1, 2, 3, 4, 5, 6, 7)
tup1[3:] ->  (4, 5, 6, 7, 8, 9, 10)
tup1[:] ->  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#updating: adding or deleting an element in tuple
'''
Unlike the LIST, we cannt add a new element or delete an element from the tuple

'''
tup1[3] = 5
print(tup1)

TypeError: ignored

In [ ]:
#updating: adding or deleting an element in tuple
'''
Unlike the LIST, we cannt add a new element or delete an element from the tuple

'''
del tup1[3]
print(tup1)

TypeError: ignored

In [ ]:
# We can delete the complete tuple 
print(tup1)
del tup1
print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

NameError: ignored

In [ ]:
# Concatenation of the tuples
tup1 = (1,2,3,4,5)
tup2 = (10,20,30,40,50)
tup3 = tup1 + tup2
print('tup1 - > ',tup1)
print('tup2 - > ',tup2)
print('tup3 - (tup1 + tup2)> ',tup3)

tup1 - >  (1, 2, 3, 4, 5)
tup2 - >  (10, 20, 30, 40, 50)
tup3 - (tup1 + tup2)>  (1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

# Basic Operations on Tuples
* len()   -> length of the tupe 
*  '+'      -> concatenation of the two tuples
*  '*'    -> Repetition operator
* in      -> membership operator
*  '>' , '<' -  comparison operators
* max()  - > maximum element in the tuple
* min()  -> minimum 
* tuple() -> converts a sequence into a tuple

In [ ]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print('Length of the tuple is : ',len(tup))

tup1 = (100,200, 300, 400, 500, 600, 700, 800, 900)

# + concatenation operator
tup2 = tup + tup1
print('After concatenting the two tuples ', tup2)

# * Repetition operator
print(tup1 * 2)

# in -> membership operator
print( 800 in tup1)


print('Maximum element of the tupe ', max(tup2))

print('Minimum element of the tupe ', min(tup2))

ts = "Hello how are you"

print(tuple(ts))

Length of the tuple is :  10
After concatenting the two tuples  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500, 600, 700, 800, 900)
(100, 200, 300, 400, 500, 600, 700, 800, 900, 100, 200, 300, 400, 500, 600, 700, 800, 900)
True
Maximum element of the tupe  900
Minimum element of the tupe  1
('H', 'e', 'l', 'l', 'o', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')

In [ ]:
#Tuple assignment

# Tuple assignment 

It is a powerful tool, it allows tuple of vairables on the left side of the assignment operator to be assigned values from a tuple given on the right side of the assignment operator. Each value is assigned to its respective variable.

An expression is specified on the right side of the assignment operator, first that expression is evaluated and then assignment is done.

In [ ]:
# different ways of tuple assignment
(val1, val2, val3 ) = (1,2,3)
print(val1, val2, val3)

tup1 = (100, 200, 300)
print(tup1)

(val1, val2, val3) = (6, 7.9, 'Hello')
print(val1, val2, val3)

1 2 3
(100, 200, 300)
6 7.9 Hello

In [ ]:
# Tuples FOR RETURNING MULTIPLE VALUES
def min_max(vals):
  x = min(vals)
  y = max(vals)
  return (x,y)

vals = (99, 98, 90, 97, 89, 86, 93, 82)
(min, max) = min_max(vals)
print("Minimum value : ", min)
print("Maximum value : ", max)

Minimum value :  82
Maximum value :  99

# NESTED TUPLES
We can define a tuple within a tuple and this is called nested tuples.

In [ ]:
#NESTED TUPLES
# list of the students who are toppers of the calss

toppers = (('Arav',"CSE",92.0),('Chey', 'EECE',95.0),('Dhruv','MECH', 90))

for student in toppers:
  print(student)

('Arav', 'CSE', 92.0)
('Chey', 'EECE', 95.0)
('Dhruv', 'MECH', 90)

In [ ]:
# Using list within the tuple
# tuple consits of student name and marks in five subjects
toppers1 = ('Arav',[87,86,78,90,95])
print('Name : ',toppers1[0])
print('Marks in 5 subjects ',toppers1[1])

Name :  Arav
Marks in 5 subjects  [87, 86, 78, 90, 95]

In [ ]:
'''
index()  - > it gives the index of an element in the tuple , if the element is present
             if the element is not present in the tuple, then it will return ValueError 
'''
tup1 = ('Bhavya', 'Era', 'Falguni','Huma')
print(tup1.index('Era'))
print(tup1.index('Virat'))

1

ValueError: ignored

In [ ]:
'''
count()  - > It returns no of times specified value is present in the given tuple
'''

tup = tuple('abcdxxxabcdxxxabcdxxx')
print(tup.count('x'))
print(type(tup))

9
<class 'tuple'>

# The zip() function

zip() is a built-in function that takes two or more squences and 'zips' them into a list of tuples.

In [ ]:
tup1 = (1,2,3,4,5)
list1 = ['a','b','c','d','e']
tup = zip(tup1, list1)
print(zip(tup1, list1))
print(list(zip(tup1, list1)))
print(list(zip(list1, tup1)))

# printing the both the values as shown

for i, ch in tup:
  print(i,' -> ',ch)

<zip object at 0x7fb2c4838dc0>
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
1  ->  a
2  ->  b
3  ->  c
4  ->  d
5  ->  e

# Key points:

* Tuples can be coverted into lists, and vice-versa using the built-in tuple() functions that takes list and returns a tuple with the same elements. 
* Division and substraction cannt be performed on the tuple.
* sort() and reverse() methods doesnt support the tuples.
* Built-in function sorted() which takes any sequence as a parameter and returns a list with same elemenets but in different order.
* String formatting features can be used to print the tuple values.